.Home {
  color: white;
  margin: 0 6rem;
  align-items: flex-start;
  gap: 0.7rem;
}

.Title {
  font-size: 3rem;
  font-weight: 700;
}

.Subtitle {
  font-size: 1.5rem;
  width: 100%;
}

.ButtonContainer {
  width: 100%;
}

.Home .Error {
  color: #ff6b6b;
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.Image {
  border-radius: 500px;
  box-shadow: 0 0 30px 5px #a524b3e0;
  animation: shadowPulse 5s infinite;
  margin: 0 auto;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 20px 5px #a524b375;
  }
  50% {
    box-shadow: 0 0 60px 5px #a524b3e0;
  }
  100% {
    box-shadow: 0 0 20px 5px #a524b375;
  }
}

.WalletContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #909090;
  background-color: #00000031;
  box-shadow: 0 0 20px 5px #a524b339;

  backdrop-filter: blur(10px);
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.8rem;
}

@media screen and (max-width: 768px) {
  .Home {
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
    gap: 1.5rem;
  }

  .Title {
    font-size: 2.5rem;
  }

  .Subtitle {
    font-size: 1.2rem;
  }

  .ButtonContainer {
    width: 100%;
  }

  .Home .error {
    font-size: 12px;
  }
}
