.Home {
  color: var(--text);
  padding: 0 6rem;
  align-items: flex-start;
  gap: 2rem;
}

.Title {
  font-size: 3rem;
  font-weight: 700;
}

.Subtitle {
  font-size: 1.5rem;
  width: 100%;
}

.ButtonContainer {
  width: 100%;
}

.Error {
  color: var(--error);
  margin: 10px 0;
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.Image {
  border-radius: 500px;
  box-shadow: 0 0 30px 5px #a524b3e0;
  animation: shadowPulse 5s infinite;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
  height: auto;
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 20px 5px #a524b375;
  }
  50% {
    box-shadow: 0 0 60px 5px #a524b3e0;
  }
  100% {
    box-shadow: 0 0 20px 5px #a524b375;
  }
}

.WalletContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #909090;
  background-color: #00000031;
  box-shadow: 0 0 20px 5px #a524b339;

  backdrop-filter: blur(10px);
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.8rem;
}

.ActionsContainer {
  display: flex;
  width: 500px;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.WalletAddress {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .Home {
    margin: 0;
    padding: 1rem 2rem;
    gap: 5rem;
    text-align: center;
    flex-direction: column-reverse;
  }

  .Home .Title {
    font-size: 2rem;
  }

  .Home .Subtitle {
    font-size: 1.2rem;
    max-width: 80%;
    margin: 2rem auto;
  }

  .Home .Subtitle br {
    display: none;
  }

  .ButtonContainer {
    width: 100%;
  }

  .Image {
    max-width: 200px;
  }

  .Home .Error,
  .WalletContainer .Error {
    margin-top: 0.5rem;
    text-align: center;
  }

  .WalletContainer {
    width: 90vw;
    overflow: auto;
    align-items: center;
  }

  .WalletContainer .ActionsContainer {
    flex-direction: column;
    width: 100%;
  }

  .WalletContainer .WalletAddress {
    flex-direction: column;
    align-items: center;
  }
}
