.Transfer {
  display: flex;
  flex-direction: column;
}

.Transfer .error {
  color: #ff6b6b;
  font-size: 14px;
}

.Title {
  font-size: 3rem;
  font-weight: 700;
}

.Subtitle {
  font-size: 1.5rem;
  width: 100%;
}

.TransferContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #909090;
  background-color: #00000031;
  box-shadow: 0 0 20px 5px #a524b339;

  backdrop-filter: blur(10px);
  width: max-content;
  height: max-content;
  margin: auto;
  padding: 2.5rem;
  border-radius: 0.8rem;
}
